@tailwind base;
@tailwind components;
@tailwind utilities;
 .logo {
    background-image: url(./icons/Stralur.Logo.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
 }

 body{
   background: #000000;
   color: #ffffff;
 }